---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Nakama">
  <main class="text-primary">
    <div class="flex">
      <img src="/logo.svg" />
    </div>
    <div class="flex justify-center font-atomic max-w-5xl">
      Feature new cool thing
    </div>
  </main>
</Layout>
