---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main class="text-primary">
    <div class="flex">
      <img src="/logo.svg" />
    </div>
  </main>
</Layout>
